/* styles.css */
body{
  background-color: white;
}
div h1{
  background-color: red;
}


.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}

.icon {
  cursor: pointer;
  color: red;
}

.text-input {
  margin-top: 8px;
  padding: 4px;
  width: 200px;
  color: red;
}

.display-text {
  margin-top: 8px;
  color: red;
}

span img{
  background-color: red;
}

.transparent-button {
  background-color: transparent; /* Tornar o fundo do botão transparente */
  border: none; /* Remover a borda se necessário */
  padding: 0; /* Ajustar o espaçamento interno se necessário */
}